<!--Formulario de  Inicio sesión-->
<div>
  <form [formGroup]="form">
    <div class="container">
      <!--Correo-->
      <div class="col correo">
        <mat-form-field appearance="fill" class="formControl">
          <mat-label class="label">Correo</mat-label>
          <input
            [placeholder]="'Digite su correo'"
            formControlName="correo"
            matInput
            type="text"
            [maxlength]="50"
          /><mat-icon matPrefix> email </mat-icon>
          <mat-error *ngIf="form.controls.correo.invalid">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>

      <!--Contraseña-->
      <div class="col contrasena">
        <mat-form-field appearance="fill" class="formControl">
          <mat-label class="label">Contraseña</mat-label>
          <input
            [placeholder]="'Digite su contraseña'"
            formControlName="contrasena"
            matInput
            type="text"
            [maxlength]="50"
          /><mat-icon matPrefix> password </mat-icon>
          <mat-error *ngIf="form.controls.correo.invalid">
            Este campo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
